<!-- Mobile Menu -->
<div class="pushy pushy-right">
    <div class="menuWrap">
        <div class="userInfo">
            <div class="welcome"> Welcome, <span>Jonathan BusinessName</span></div>
            <ul>
                <li>My Messages <span>(<a href="">2</a>)</span></li>
                <li> <a href=""><span>Logout</span></a> </li>
            </ul>
            <div class="session">Last logged on Jul 29, 2014 11:00AM</div>
        </div>
        <ul class="mobile">
            <li> <a href="#">Accounts and Activities</a>
                <ul>
                    <li class="title"> <a href="" class="noAccordion">Account Summary</a> </li>
                    <li class="accountType">Deposit Accounts</li>
                    <li> <a href="" class="noAccordion">Checking for Cash (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">Everyday Expenses and Bill (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">CDs Account (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">My Secret Savings (...1234)</a> </li>
                    <li> <a href="" class="noAccordion">Another Secret Savings (...1234)</a> </li>
                    <li class="accountType">Loan Accounts</li>
                    <li> <a href="" class="noAccordion">Education Loan (...1234)</a> </li>
                    <li class="accountType">Mortgage Accounts</li>
                    <li> <a href="" class="noAccordion">Residential Loan (...1234)</a> </li>
                </ul>
            </li>
            <li> <a href="#">Actions and Services</a>
                <ul>
                    <li> <a href="#" class="viewStatements-link noAccordion">View Online Statements</a> </li>
                    <li> <a href="#" class="billPay-link">Pay Bills</a> </li>
                    <li> <a href="#" class="alerts-link">Alerts</a> </li>
                    <li> <a href="#" class="transfers-link">Transfer</a> </li>
                    <li> <a href="#" class="accountServices-link">Account Services</a>
                        <ul>
                            <li><a href="#">Order Checks</a></li>
                            <li><a href="#">Request a Stop Payment</a></li>
                            <li><a href="#">Request a Check Copy</a></li>
                            <li><a href="#">Request a Paper Statement Copy</a></li>
                            <li><a href="#">Inquire about a BillPay Payment</a></li>
                            <li><a href="#">Inquire about a Transaction</a></li>
                            <li><a href="#">Direct Deposit Change Form</a></li>
                            <li><a href="#">Contact Customer Service</a></li>
                        </ul>
                    </li>
                    <li> <a href="#" class="forms-link">Forms</a> </li>
                    <li> <a href="#" class="help-link">Help</a> </li>
                    <li> <a href="#" class="newAccounts-link">New Accounts</a> </li>
                </ul>
            </li>
            <li> <a href="#">Profile Settings</a>
                <ul>
                    <li> <a href="" class="noAccordion">Change Username/Password</a> </li>
                    <li> <a href="" class="noAccordion">Add Eligible Accounts for View</a> </li>
                    <li> <a href="" class="noAccordion">Change Contact Information</a> </li>
                    <li> <a href="" class="noAccordion">Change Security Questions &amp; Answers</a> </li>
                </ul>
            </li>
            <li> <a href="#" class="searchBtn">Transaction Search</a>
                <ul class="transSearch">
                    <li>
                        <input type="text">
                        <input type="submit" value="Search">
                    </li>
                </ul>
            </li>
            <li><a href="" class="customizeBtn">Customize Page</a></li>
            <li><a href="" class="helpBtn">Help with Page</a></li>
        </ul>
    </div>
</div>
<!-- /Mobile Menu -->

<div class="site-overlay"></div>

<header class="push">
    <div class="container">
        <div id="logo"> <a href="index.html"></a> </div>
        <!-- Toolbar -->
        <div class="toolbar visibleDesktop">
            <div class="session">Last logged on Jul 29, 2014 11:00AM</div>
            <ul>
                <li class="user">
                    <div class="hover ellipsis">Welcome, <span>Jonathan BusinessName</span></div>
                    <div class="userDropdown">
                        <div>
                            <ul>
                                <li> <a href="">Change Username/Password</a> </li>
                                <li> <a href="">Add Eligible Accounts for View</a> </li>
                                <li> <a href="">Change Contact Information</a> </li>
                                <li> <a href="">Change Security Questions &amp; Answers</a> </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>My Messages <span>(<a href="">2</a>)</span></li>
                <li><a href=""><span>Logout</span></a></li>
            </ul>
        </div>
        <!-- /Toolbar -->
        <!-- Mobile Menu Link -->
        <div class="mobileMenu hiddenDesktop menu-btn">
            Menu
            <div class="notification">14</div>
        </div>
        <!-- /Mobile Menu Link -->
    </div>
</header>