*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin cf {
	&:before,
	&:after {
		content: " ";
		display: table;
	};
	&:after {
		clear: both;
	};
}

@mixin listReset {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin circular {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

@mixin rounded($radius: 0.5em) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

//DropShadow
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow:$top $left $blur $color #{$inset};
	-moz-box-shadow:$top $left $blur $color #{$inset};
	box-shadow:$top $left $blur $color #{$inset};
	/*
		Usage
        @include box-shadow(0px, 4px, 5px, rgba(0, 0, 0, 0.25));
	*/
}

//Generic Transform
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

//Rotate
@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

@function pxtopercent($target, $parent: 16) {
	@return percentage($target / $parent);
}

::-webkit-input-placeholder {
	color: #000;
}

:-moz-placeholder { /* Firefox 18- */
	color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #000;
}

:-ms-input-placeholder {
	color: #000;
}

// BOK Site Colors
$red: #b00027;
$darkRed: #960021;
$error: #ed1c24;
$borderColor: #c0c0c1;
$borderColorBlue: #007db1;
$tabBorder: #cbcbcb;
$headerBlue: #007db1;
$alertBg: #cbcbcb;
$linkBlue: #007db1;
$btnBlue: #007db1;
$boxBlue: #007db1;
$tableBorder: #d9d9d9;
$widthdrawl: #ff0000;
$green: #10a900;



