<!-- Content Area -->
<div class="main push" role="main">
    <div class="container">

        <h1>Add a Payee</h1>

        <div class="boxModule">

            <!-- Steps -->
            <div class="stepsWrap">
                <ul>
                    <li class="activeTask">Search<span></span></li>
                    <li>Payee Details<span></span></li>
                    <li>Verify<span></span></li>
                    <li>Confirm</li>
                </ul>
            </div>
            <!-- /Steps -->

            <p>Type in the payee name and click search, our system will find the payee matches yours.</p>
            <dl class="addPayee">
                <dt>
                    <label>Payee Name:</label>
                </dt>
                <dd>
                    <input type="text"/>
                </dd>
                <dt></dt>
                <dd>
                    <input type="submit" value="Search"/>
                    <input type="button" value="Cancel"/>
                </dd>
            </dl>

            <!-- If Search Did NOT Match any Payees -->
            <div class="response">
                <h2>Related Matches:</h2>
                <p>No related match found, you can either search again or add the Payee manually.</p>
                <a href="" class="btn blue">Add Payee Manually</a>
            </div>

            <!-- If Search Did Match any Payees -->
            <div class="response">
                <h2>Related Matches:</h2>
                <p>Please choose related matches found below. If you do not see your Payee, you can either search again or add the Payee manually.</p>

                <ul>
                    <li>
                        <a href="">Oklahoma Electric Cooperative</a>
                        <p>Short description of this payee?</p>
                    </li>
                    <li>
                        <a href="">Oklahoma Electric Cooperative</a>
                        <p>Short description of this payee?</p>
                    </li>
                    <li>
                        <a href="">Oklahoma Electric Cooperative</a>
                        <p>Short description of this payee?</p>
                    </li>
                </ul>
                <a href="" class="btn blue">Add Payee Manually</a>
            </div>

        </div>


    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->