<!-- Content Area -->
<div class="main push" role="main">
    <div class="container">

        <h1>Add a Payee</h1>

        <div class="boxModule">

            <!-- Steps -->
            <div class="stepsWrap">
                <ul>
                    <li class="activeTask">Search<span></span></li>
                    <li>Payee Details<span></span></li>
                    <li>Verify<span></span></li>
                    <li>Confirm</li>
                </ul>
            </div>
            <!-- /Steps -->

            <p>Please verify payee details below, click Add Payee when done.</p>

            <div class="payeeVerification">
                <h2>Oklahoma Electric Cooperative</h2>
                <div class="col">
                    <h4>Nickname:</h4>
                    <span>OKLAHOMA ELECTRIC COOPERATIVE</span>
                </div>
                <div class="col">
                    <h4>Account Number:</h4>
                    <span>7864q378o45</span>
                </div>
                <div class="col">
                    <h4>Address:</h4>
                    <span>242 24th Ave NW, Norman, OK 73069</span>
                </div>
                <div class="col">
                    <h4>Phone:</h4>
                    <span>405-321-2024</span>
                </div>
                <div class="col">
                    <h4>Default Pay From Account:</h4>
                    <span>Everyday Expenses & Bill (...1234)</span>
                </div>

                <div class="cleaner"></div>

                <input type="submit" value="Add Payee"/>
                <input type="button" value="Edit"/>
                <input type="button" value="Cancel"/>
            </div>

        </div>


    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->