<!-- Content Area -->
<div class="main push" role="main">
    <div class="container">

        <h1>Add a Payee</h1>

        <div class="boxModule">

            <!-- Steps -->
            <div class="stepsWrap">
                <ul>
                    <li class="activeTask">Search<span></span></li>
                    <li>Payee Details<span></span></li>
                    <li>Verify<span></span></li>
                    <li>Confirm</li>
                </ul>
            </div>
            <!-- /Steps -->

            <p>You successfully added the payee below. Click the payee name If you want to view or edit the payee's detail information.
            </p>

            <div class="payeeVerification">
                <h2>Oklahoma Electric Cooperative</h2>

                <a href="" class="btn blue">Make a payment</a>
                <a href="" class="btn blue">Back to payee page</a>
                <a href="" class="btn blue">Add another payee</a>

            </div>

        </div>


    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->