<!-- Content Area -->
<div class="main push loggedOut" role="main">
    <div class="container">

        <p><a href="#inline" class="inline-popup">Show inline popup</a></p>
        <p><a href="ajax.html" class="ajax">Show AJAX popup</a></p>

        <div id="inline" class="white-popup mfp-hide">
            <h2>Security Challenge</h2>
            <p>For security purposes, please validate your identity by answering the following question and click <strong>Submit</strong></p>

            <dl>
                <dt>
                    <label>What is the first name of your best man/maid of honor at your wedding?</label>
                </dt>
                <dd>
                    <input type="text"/>
                </dd>

                <dt></dt>
                <dd>
                    <input type="submit" value="Submit"/>
                    <input type="button" value="Cancel" class="closeBtn"/>
                </dd>
            </dl>

            <div class="colWrap">
                <div class="col one">
                    Helpful Links
                </div>
                <div class="col two">
                    <a href="">Contact Us</a>
                </div>
                <div class="col three">
                    <a href="">Help With This Page</a>
                </div>
            </div>

            <div class="cleaner"></div>

        </div>

    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->