<!-- Content Area -->
<div class="main push" role="main">
    <div class="container">
        <div class="back">
            <a href="" class="btn blue">Back</a>
        </div>

        <h1>Payee Detail</h1>

        <div class="boxModule">

            <div class="payeeVerification">
                <h2>Oklahoma Electric Cooperative</h2>

                <div class="col">
                    <h4>Nickname:</h4>
                    <span>OKLAHOMA ELECTRIC COOPERATIVE</span>
                </div>
                <div class="col">
                    <h4>Account Number:</h4>
                    <span>7864q378o45</span>
                </div>
                <div class="col">
                    <h4>Address:</h4>
                    <span>242 24th Ave NW, Norman, OK 73069</span>
                </div>
                <div class="col">
                    <h4>Phone:</h4>
                    <span>405-321-2024</span>
                </div>
                <div class="col">
                    <h4>Default Pay From Account:</h4>
                    <span>Everyday Expenses & Bill (...1234)</span>
                </div>

                <div class="cleaner"></div>

                <div class="edit">
                    <a href="" class="btn blue">Edit</a>
                    <a href="">Delete</a>
                </div>
            </div>

        </div>


    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->