<!-- Content Area -->
<div class="main push" role="main">
    <div class="container">
        <!-- Back Button -->
        <div class="back">
            <a href="" class="btn blue">Back</a>
        </div>
        <h1>Payment Details</h1>

        <!-- Payment Panel -->
        <div class="panel paymentDetailView">
            <h2>
                <a href="">Oklahoma Electric Cooperative</a>
            </h2>
            <div class="payment">$200,100.00</div>

            <!-- From -->
            <div class="col fromAcctn">
                <h4>From Account:</h4>
                Everyday Expenses and Bill (...1234)
            </div>
            <!-- Sent On -->
            <div class="col sendOn">
                <h4>Send On:</h4>
                11/20/2014

                <h4>Estimated Receive Date:</h4>
                11/22/2014

                <h4>Payment Method:</h4>
                Electronic
            </div>
            <!-- Frequency -->
            <div class="col frequency">
                <h4>Frequency:</h4>
                <span class="recurring">This payment will occur monthly, 12 payments total</span>
            </div>
            <!-- Memo -->
            <div class="col memo">
                <h4>Memo:</h4>
                Sample, 20 character max, drag mouse to see the rest.
            </div>

            <div class="cleaner"></div>

            <!-- Confirmation -->
            <div class="col confirmation">
                <h4>Confirmation ID:</h4>
                #LKSYROWU1923
            </div>
            <!-- Tracking -->
            <div class="col tracking">
                <h4>To Track this payment:</h4>
                <a href=""><strong>Inquiry link</strong></a>
            </div>

            <div class="cleaner"></div>

            <div class="addPaymentOptions">
                <div class="isRecurring">
                    <span class="recurring">Next payment is scheduled on 12/20/2014</span>
                </div>
                <!-- If "Future" Payment we can still modify it -->
                <div class="isFuture">
                    <a href="" class="btn blue">Edit</a>
                    <a href="#confirmDelete" class="inline-popup">Delete</a>
                </div>
            </div>

            <!-- Delete Payment Confirmation Popup -->
            <div id="confirmDelete" class="white-popup mfp-hide">
                <h2>Delete Payment</h2>
                <p>Copy TBD. All the future payments will be canceled. Please confirm.</p>
                <p>Please note, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor nibh ac volutpat suscipit.</p>

                <dl>
                    <dt>
                        <a href="" class="btn blue">Delete Payment</a>
                    </dt>
                </dl>

                <div class="colWrap">
                    <div class="col one">
                        Helpful Links
                    </div>
                    <div class="col two">
                        <a href="">Contact Us</a>
                    </div>
                    <div class="col three">
                        <a href="">Help With This Page</a>
                    </div>
                </div>

                <div class="cleaner"></div>

            </div>
            <!-- /Delete Payment Confirmation Popup -->


        </div>
        <!-- /Payment Panel -->

        <div class="paymentNote">* If payment is made after 5:00pm MST, payment will start to process the next day.</div>



    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->