<!-- Content Area -->
<div class="main push" role="main">
    <div class="container">
        <h1>
            Payments
            <span class="toggle"><a href="">View Payees</a></span>
        </h1>

        <!-- Payee Options -->
        <div class="payeeOption">
            <!-- Search -->
            <div class="search single">
                <label>Search:</label>
                <input type="text" placeholder="Payee, Memo and Keyword" />
                <input type="submit" value="Search">
            </div>
        </div>
        <!-- /Payee Options -->

        <!-- Panel -->
        <div class="panel">
            <div class="accountOverview">
                <div class="sectTitle">
                    <div class="sliderControls">
                        <h2>In-Progress and Future Payments</h2>
                    </div>
                </div>
                <!-- Status Filters -->
                <div class="acctStatus">
                    <div class="status">
                        <label>Status:</label>
                        <div class="selectWrap">
                            <select class="select-style">
                                <option>All</option>
                                <option>Scheduled</option>
                                <option>Pending</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /Status Filters -->
            </div>
            <div class="paymentWrap">
                <div class="wrap">
                    <table class="transactions">
                        <tr>
                            <td>NISSAN MOTOR ACCEPTANCE CORP</td>
                            <td>Scheduled 12/09/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View /Edit</a>
                            </td>
                        </tr>
                        <tr>
                            <td>OKLAHOMA ELECTRIC COOPERATIVE</td>
                            <td><span class="recurring">Scheduled 12/02/2014</span></td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View /Edit</a>
                            </td>
                        </tr>
                        <tr>
                            <td>OKLAHOMA GAS COOPERATIVE</td>
                            <td>Scheduled 12/02/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>NISSAN MOTOR ACCEPTANCE CORP</td>
                            <td>Scheduled 12/02/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>OKLAHOMA ELECTRIC COOPERATIVE</td>
                            <td>Scheduled 12/02/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Panel -->
        <!-- Panel -->
        <div class="panel">
            <div class="accountOverview">
                <div class="sectTitle">
                    <div class="sliderControls">
                        <h2>History</h2>
                    </div>
                </div>
                <!-- Status Filters -->
                <div class="acctStatus">
                    <div class="status">
                        <label>Status:</label>
                        <div class="selectWrap">
                            <select class="select-style">
                                <option>All</option>
                                <option>Scheduled</option>
                                <option>Pending</option>
                            </select>
                        </div>
                    </div>
                    <div class="history">
                        <label>Amount of History to Show:</label>
                        <div class="selectWrap">
                            <select class="select-style">
                                <option>30 Days</option>
                                <option>60 Days</option>
                                <option>90 Days</option>
                                <option>180 Days</option>
                                <option>All Available</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /Status Filters -->
            </div>
            <div class="paymentWrap">
                <div class="wrap">
                    <table class="transactions">
                        <tr>
                            <td>NISSAN MOTOR ACCEPTANCE CORP</td>
                            <td>Scheduled 12/09/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>OKLAHOMA ELECTRIC COOPERATIVE</td>
                            <td><span class="recurring">Scheduled 12/02/2014</span></td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>OKLAHOMA GAS COOPERATIVE</td>
                            <td>Scheduled 12/02/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>NISSAN MOTOR ACCEPTANCE CORP</td>
                            <td>Scheduled 12/02/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>OKLAHOMA ELECTRIC COOPERATIVE</td>
                            <td>Scheduled 12/02/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>NISSAN MOTOR ACCEPTANCE CORP</td>
                            <td>Scheduled 12/09/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>OKLAHOMA ELECTRIC COOPERATIVE</td>
                            <td><span class="recurring">Scheduled 12/02/2014</span></td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>OKLAHOMA GAS COOPERATIVE</td>
                            <td>Scheduled 12/02/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>NISSAN MOTOR ACCEPTANCE CORP</td>
                            <td>Scheduled 12/02/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>OKLAHOMA ELECTRIC COOPERATIVE</td>
                            <td>Scheduled 12/02/2014</td>
                            <td class="hiddenMobile">From: Everyday Expenses and Bill(...1234)</td>
                            <td>$200,100.00</td>
                            <td>
                                <a href="">View</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Panel -->

    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->