<!-- Content Area -->
<div class="main push" role="main">
    <div class="container">
        <h1>Payment Confirmation</h1>

        <div class="btnWrap">
            <a href="" class="btn blue">See All Payments</a>
            <a href="" class="btn blue">Make a New Payment</a>
        </div>

        <!-- Confirmation Box -->
        <div id="confirmation" class="normal">
            <div class="inner">
                <div class="paymentsScheduled">
                    3 Payments are set for 3 payees
                    <span class="recurring">2 of the payments are reoccurring.  You can modify or delete any future payments.</span>
                </div>
                <div class="total">
                    Total: $801, 200.00
                </div>
            </div>
        </div>
        <!-- /Confirmation Box -->

        <div class="cleaner"></div>

        <!-- Payment Panel -->
        <div class="panel paymentDetailView">
            <h2>
                <a href="">Oklahoma Electric Cooperative</a>
            </h2>
            <div class="payment">$70,100.00</div>

            <!-- From -->
            <div class="col fromAcctn">
                <h4>From Account:</h4>
                Everyday Expenses and Bill (...1234)
            </div>
            <!-- Sent On -->
            <div class="col sendOn">
                <h4>Send On:</h4>
                11/20/2014

                <h4>Estimated Receive Date:</h4>
                11/22/2014

                <h4>Payment Method:</h4>
                Electronic
            </div>
            <!-- Frequency -->
            <div class="col frequency">
                <h4>Frequency:</h4>
                <span class="recurring">This payment will occur monthly, 12 payments total</span>
            </div>
            <!-- Memo -->
            <div class="col memo">
                <h4>Memo:</h4>
                Sample, 20 character max, drag mouse to see the rest.
            </div>

            <div class="cleaner"></div>

            <!-- Confirmation -->
            <div class="col confirmation">
                <h4>Confirmation ID:</h4>
                #LKSYROWU1923
            </div>

            <div class="cleaner"></div>

            <div class="addPaymentOptions">
                <div class="isRecurring">
                    <span class="recurring">Next payment is scheduled on 12/20/2014</span>
                </div>
            </div>
        </div>

        <div class="panel paymentDetailView">
            <h2>
                <a href="">NISSAN MOTOR ACCEPTANCE CORP</a>
            </h2>
            <div class="payment">$200,100.00</div>

            <!-- From -->
            <div class="col fromAcctn">
                <h4>From Account:</h4>
                Everyday Expenses and Bill (...1234)
            </div>
            <!-- Sent On -->
            <div class="col sendOn">
                <h4>Send On:</h4>
                11/20/2014

                <h4>Estimated Receive Date:</h4>
                11/22/2014

                <h4>Payment Method:</h4>
                Electronic
            </div>
            <!-- Frequency -->
            <div class="col frequency">
                <h4>Frequency:</h4>
                <span class="recurring">This payment will occur monthly, 12 payments total</span>
            </div>
            <!-- Memo -->
            <div class="col memo">
                <h4>Memo:</h4>
                Sample, 20 character max, drag mouse to see the rest.
            </div>

            <div class="cleaner"></div>

            <!-- Confirmation -->
            <div class="col confirmation">
                <h4>Confirmation ID:</h4>
                #LKSYROWU1923
            </div>

            <div class="cleaner"></div>

            <div class="addPaymentOptions">
                <div class="isRecurring">
                    <span class="recurring">Next payment is scheduled on 12/20/2014</span>
                </div>
            </div>
        </div>

        <div class="panel paymentDetailView">
            <h2>
                <a href="">ABBY MATHEW TEAM – KELLER WILLIAMS REALTY ELITE</a>
            </h2>
            <div class="payment">$700,200.00</div>

            <!-- From -->
            <div class="col fromAcctn">
                <h4>From Account:</h4>
                Everyday Expenses and Bill (...1234)
            </div>
            <!-- Sent On -->
            <div class="col sendOn">
                <h4>Send On:</h4>
                11/20/2014

                <h4>Estimated Receive Date:</h4>
                11/22/2014

                <h4>Payment Method:</h4>
                Electronic
            </div>
            <!-- Frequency -->
            <div class="col frequency">
                <h4>Frequency:</h4>
                <span class="recurring">This payment will occur monthly, 12 payments total</span>
            </div>
            <!-- Memo -->
            <div class="col memo">
                <h4>Memo:</h4>
                Sample, 20 character max, drag mouse to see the rest.
            </div>

            <div class="cleaner"></div>

            <!-- Confirmation -->
            <div class="col confirmation">
                <h4>Confirmation ID:</h4>
                #LKSYROWU1923
            </div>

            <div class="cleaner"></div>

            <div class="addPaymentOptions">
                <div class="isRecurring">
                    <span class="recurring">Next payment is scheduled on 12/20/2014</span>
                </div>
            </div>
        </div>
        <!-- /Payment Panel -->

        <div class="paymentNote">* If payment is made after 5:00pm MST, payment will start to process the next day.</div>



    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->