<!-- Content Area -->
<div class="main push" role="main">
    <div class="container">

        <h1>Review Payments</h1>

        <div class="btnWrap">
            <a href="" class="btn blue">Make Changes</a>
        </div>

        <!-- Payment Panel -->
        <div class="panel paymentDetailView">
            <h2>Oklahoma Electric Cooperative</h2>
            <div class="payment">$70,100.00</div>

            <!-- From -->
            <div class="col fromAcctn">
                <h4>From Account:</h4>
                Everyday Expenses and Bill (...1234)
            </div>
            <!-- Sent On -->
            <div class="col sendOn">
                <h4>Send On:</h4>
                11/20/2014

                <h4>Estimated Receive Date:</h4>
                11/22/2014

                <h4>Payment Method:</h4>
                Electronic
            </div>
            <!-- Frequency -->
            <div class="col frequency">
                <h4>Frequency:</h4>
                <span class="recurring">This payment will occur monthly, 12 payments total</span>
            </div>
            <!-- Memo -->
            <div class="col memo">
                <h4>Memo:</h4>
                Sample, 20 character max, drag mouse to see the rest.
            </div>

            <div class="cleaner"></div>

            <div class="addPaymentOptions">
                <div class="isRecurring">
                    <span class="recurring">Next payment is scheduled on 12/20/2014</span>
                </div>
                <div class="isFuture">
                    <a href="">Delete</a>
                </div>
            </div>
        </div>

        <div class="panel paymentDetailView">
            <h2>NISSAN MOTOR ACCEPTANCE CORP</h2>
            <div class="payment">$200,100.00</div>

            <!-- From -->
            <div class="col fromAcctn">
                <h4>From Account:</h4>
                Everyday Expenses and Bill (...1234)
            </div>
            <!-- Sent On -->
            <div class="col sendOn">
                <h4>Send On:</h4>
                11/20/2014

                <h4>Estimated Receive Date:</h4>
                11/22/2014

                <h4>Payment Method:</h4>
                Electronic
            </div>
            <!-- Frequency -->
            <div class="col frequency">
                <h4>Frequency:</h4>
                <span class="recurring">This payment will occur monthly, 12 payments total</span>
            </div>
            <!-- Memo -->
            <div class="col memo">
                <h4>Memo:</h4>
                Sample, 20 character max, drag mouse to see the rest.
            </div>

            <div class="cleaner"></div>

            <div class="addPaymentOptions">
                <div class="isRecurring">
                    <span class="recurring">Next payment is scheduled on 12/20/2014</span>
                </div>
                <div class="isFuture">
                    <a href="">Delete</a>
                </div>
            </div>
        </div>

        <div class="panel paymentDetailView">
            <h2>ABBY MATHEW TEAM – KELLER WILLIAMS REALTY ELITE</h2>
            <div class="payment">$700,200.00</div>

            <!-- From -->
            <div class="col fromAcctn">
                <h4>From Account:</h4>
                Everyday Expenses and Bill (...1234)
            </div>
            <!-- Sent On -->
            <div class="col sendOn">
                <h4>Send On:</h4>
                11/20/2014

                <h4>Estimated Receive Date:</h4>
                11/22/2014

                <h4>Payment Method:</h4>
                Electronic
            </div>
            <!-- Frequency -->
            <div class="col frequency">
                <h4>Frequency:</h4>
                <span class="recurring">This payment will occur monthly, 12 payments total</span>
            </div>
            <!-- Memo -->
            <div class="col memo">
                <h4>Memo:</h4>
                Sample, 20 character max, drag mouse to see the rest.
            </div>
            
            <div class="cleaner"></div>

            <div class="addPaymentOptions">
                <div class="isRecurring">
                    <span class="recurring">Next payment is scheduled on 12/20/2014</span>
                </div>
                <div class="isFuture">
                    <a href="">Delete</a>
                </div>
            </div>
        </div>
        <!-- /Payment Panel -->

        <div class="paymentNote">* If payment is made after 5:00pm MST, payment will start to process the next day.</div>

        <!-- Confirmation Box -->
        <div id="confirmation" class="normal">
            <div class="inner">
                <div class="paymentsScheduled">
                    3 Payments are set for 3 payees
                    <span class="recurring">2 of the payments are reoccurring.  You can modify or delete any future payments.</span>
                </div>
                <div class="total">
                    Total: $801, 200.00
                    <div class="cleaner"></div>
                    <a href="" class="btn blue">Confirm and Pay</a>
                </div>
            </div>
        </div>
        <!-- /Confirmation Box -->



    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->