<!-- Content Area -->
<div class="main push loggedOut" role="main">
    <div class="container">

        <!-- Log In | Sign Up -->
        <div class="boxModule">
            <!-- Alert -->
            <div class="alert">
                <div class="alertMsg">
                    Your password has successfully been reset. An updated confirmation was sent to your email.
                </div>
            </div>
            <!-- /Alert -->

            <div class="loginWrap">
                <!-- Log In Panel -->
                <div class="userLogin equalHeights">
                    <h1>Log in to Online Banking</h1>
                    <input type="text" placeholder="Username">
                    <input type="password" placeholder="Password">
                    <div class="cleaner"></div>
                    <input type="submit" value="Log In">
                    <a href="">Forgot Password?</a>
                    <ul>
                        <li>
                            <a href=""><img src="images/online-guarantee.gif" alt="Online Guarantee"></a>
                        </li>
                        <li>
                            <a href=""><img src="images/verisign.gif" alt="VeriSign"/></a>
                        </li>
                    </ul>
                </div>
                <!-- Sign Up Panel -->
                <div class="userSignup equalHeights">
                    <h2>New to Online Banking? <br class="hiddenDesktop">Enroll Now.</h2>
                    <ul>
                        <li>
                            <a href="">Personal Accounts</a>
                        </li>
                        <li>
                            <a href="">Small Business Accounts</a>
                        </li>
                    </ul>
                    <!-- Promo -->
                    <img src="https://placeimg.com/500/168/arch/sepia" alt="FPO"/>
                </div>
                <div class="cleaner"></div>

            </div>
            <div class="cleaner"></div>
        </div>
        <!-- /Log In / Sign Up -->

        <!-- Reset Password -->
        <h1>Password Reset</h1>

        <div class="boxModule">

            <!-- Steps -->
            <div class="stepsWrap">
                <ul>
                    <li class="completedTask">Identity<span></span></li>
                    <li class="activeTask">Validate<span></span></li>
                    <li>Reset<span></span></li>
                    <li>Confirm &amp; Login</li>
                </ul>
            </div>
            <!-- /Steps -->

            <p>To reset your password, we need to confirm your identity.</p>

            <div class="note">
                Please enter your Username, Mother's Maiden Name/Secret Word and Security Question's answer below and click <strong>Next</strong>
            </div>

            <dl>
                <dt>
                <div class="step">
                    <span>1</span>
                </div>
                <label>Username:</label>
                </dt>
                <dd>
                    <input type="text"/>

                    <div class="error">Please enter a valid Username.</div>
                </dd>
                <dt>
                <div class="step">
                    <span>2</span>
                </div>
                <label>Mother's Maiden Name/ Secret Word:
                    <div class="quickInfo"></div>
                </label>
                </dt>
                <dd>
                    <input type="text"/>

                    <div class="error">Please enter a valid Secret Word.</div>
                    <div class="error incorrect">Username or Secret Word or Security Answer you entered is incorrect.</div>
                    <div class="error try">There're <strong>2</strong> guesses left before this username being locked out.</div>
                </dd>
                <dt></dt>
                <dd>
                    <input type="submit" value="Next"/>
                    <input type="button" value="Cancel"/> | <a href="">Forgot your username?</a>
                </dd>
            </dl>
        </div>
        <!-- /Reset Password -->

        <!-- Helpful Links -->
        <div class="boxModule gray help">

            <div class="wrap">
                <div class="titleCol">Helpful Links</div>
                <div class="contentCol">
                    <ul class="links">
                        <li>
                            <a href="">Protect Your Account</a>
                        </li>
                        <li>
                            <a href="">Demo</a>
                        </li>
                        <li>
                            <a href="">Security Features</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Online Guarantee</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="wrap">
                <div class="titleCol">ExpressBank</div>
                <div class="contentCol">
                    <div class="innerOne">
                        <p>Tulsa Area:<br>
                            (918) 588-6010</p>

                        <p>Oklahoma City Area:<br>
                            (405) 272-2548</p>

                        <p>Outside These Areas:<br>
                            (800) 234-6181</p>
                    </div>
                    <div class="innerTwo">
                        <p>A live-banker is available during the following hours:<br>
                            Monday - Friday 6 a.m. - 10 p.m.<br>
                            Saturday 7 a.m. - 7 p.m.<br>
                            Sunday 10 a.m. to 7 p.m.</p>

                        <p><a href=""><strong>Learn More</strong></a></p>
                    </div>
                </div>
            </div>

            <div class="wrap">
                <div class="titleCol">Open an Account</div>
                <div class="contentCol">
                    <ul class="links">
                        <li>
                            <a href="">Checking</a>
                        </li>
                        <li>
                            <a href="">Money Market &amp; Savings</a>
                        </li>
                        <li>
                            <a href="">Loans</a>
                        </li>
                        <li>
                            <a href="">Credit Cards</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="cta">
                <div class="branch">
                    <a href="" class="valignmiddle">Find a Branch/ATM Near You</a>
                </div>
                <div class="contact">
                    <a href="" class="valignmiddle">Contact Us</a>
                </div>
            </div>

        </div>
        <!-- /Helpful Links -->

        <!-- Helpful Links -->
        <div class="boxModule gray help">

            <div class="wrap">
                <div class="titleCol">Helpful Links</div>
                <div class="contentCol">
                    <ul class="links">
                        <li>
                            <a href="">Send Us a Message</a>
                        </li>
                        <li>
                            <a href="">Help With This Page</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="cta">
                <div class="branch">
                    <a href="" class="valignmiddle">Find a Branch/ATM Near You</a>
                </div>
                <div class="contact">
                    <a href="" class="valignmiddle">Contact Us</a>
                </div>
            </div>

        </div>
        <!-- /Helpful Links -->

    </div>
    <!-- /Container -->
</div>
<!-- /Content Area (Main) -->